<img
  src="./assets/images/slide1/A01_Logo_Titulo.png"
  alt="MSD Logo"
  class="msdLogo"
/>
<div class="customContainer d-flex flex-column justify-content-end">
  <div class="row mb-5">
    <div
      class="col-12 d-flex flex-row justify-content-center align-items-start gap-3"
    >
      <a
        routerLink="/calculator/simulator"
        type="button"
        class="btn customHomeMenuBtn"
      >
        PLAN
        <br />
        INTEGRA
      </a>
      <a class="btn customHomeMenuBtn" routerLink="/calculator/keytruda">
        PLAN
        <br />
        KEYTRUDA
    </a>
      <a routerLink="/offer-pool" type="button" class="btn customHomeMenuBtn"
        >POOL DE<br />OFERTAS</a
      >
      <a
        routerLink="/calculator/top-costumers"
        type="button"
        class="btn customHomeMenuBtn"
        >CLIENTES<br />TOP VACUNAS</a
      >
      <a
        routerLink="/calculator/transfers"
        type="button"
        class="btn customHomeMenuBtn"
        >TRANSFER</a
      >
      <div>
        <p class="btn customHomeMenuBtn">FAQ</p>
        <p class="miniText">07-26-MX-XBR-00405</p>
      </div>
    </div>
  </div>
</div>
