<img
  src="./assets/images/slide1/A01_Logo_Titulo.png"
  alt="MSD Logo"
  class="msdLogo"
/>
<div class="customContainer d-flex flex-column justify-content-end">
  <div class="row mb-5">
    <div
      class="col-12 d-flex flex-row justify-content-center align-items-start gap-3"
    >
      <a
        routerLink="/calculator/simulator"
        type="button"
        class="btn customHomeMenuBtn"
        >INICIAR SIMULADOR</a
      >
      <a routerLink="/offer-pool" type="button" class="btn customHomeMenuBtn"
        >POOL DE OFERTAS</a
      >
      <a
        routerLink="/calculator/top-costumers"
        type="button"
        class="btn customHomeMenuBtn"
        >CLIENTES TOP VACUNAS</a
      >
      <a
        routerLink="/calculator/transfers"
        type="button"
        class="btn customHomeMenuBtn"
        >TRANSFER</a
      >
    </div>
  </div>
</div>
