* {
  font-family: "customGothamMedium";
  font-size: 12px;
}
.customQuotationCard {
  background: -moz-linear-gradient(
    180deg,
    #eef6f5 0%,
    #e1efee 47%,
    #cce3e2 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    #eef6f5 0%,
    #e1efee 47%,
    #cce3e2 100%
  );
  background: linear-gradient(180deg, #e9f5f2 0%, #e1efee 47%, #cce3e2 100%);

  border-top-right-radius: 2rem;
  height: 30vh;
}
.customQuotationCard {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#dcf5f4",endColorstr="#4ebfb8",GradientType=1);
}

.text1 {
  border-radius: 0.5rem;
  border: none;
}

.text2 {
  border-radius: 1.5rem;
  border: none;
  background-color: #56a39f;
  color: #fff;
  -webkit-border-radius: 1.5rem;
  -moz-border-radius: 1.5rem;
  -ms-border-radius: 1.5rem;
  -o-border-radius: 1.5rem;
}

.text3 {
  font-size: 15px;
  color: #00635c;
}

.text4 {
  color: #3e444c;
}

.mb-6 {
  margin-bottom: 4rem;
}
.mb-7 {
  margin-bottom: 5rem;
}
