.secondElement {
  background: -moz-linear-gradient(
    180deg,
    #eef6f5 0%,
    #e1efee 47%,
    #cce3e2 100%
  );
  background: -webkit-linear-gradient(
    180deg,
    #eef6f5 0%,
    #e1efee 47%,
    #cce3e2 100%
  );
  background: linear-gradient(180deg, #e9f5f2 0%, #e1efee 47%, #cce3e2 100%);

}
.modalTable {
  background-image: url('../../../../../assets/images/PROGRAMA_HOSPITALARIO_MSD-08.svg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 0% 50%;
  background-origin: content-box;
  background-color: #ffffff;
  min-height: 100vh;
  width: 100vw;
}
