<div
  class="d-flex flex-column justify-content-between align-items-stretch align-content-stretch p-0 m-0"
  style="height: 100vh"
>
  <div
    class="pt-3 flex-grow-0 flex-shrink-0 d-flex flex-row justify-content-between align-items-center align-content-center px-4"
  >
    <img
      src="./assets/images/slide2/B01_LogoTitulo.png"
      alt="Logo"
      class="img-fluid"
    />
    @if(enableDiscount){
    <app-discount></app-discount>
    }
  </div>
  <div class="flex-grow-1 flex-shrink-1 align-self-stretch overflow-auto">
    <router-outlet></router-outlet>
  </div>
  <a
    routerLink="/home"
    type="button"
    class="btn position-fixed bottom-0 end-0 m-3 mb-5 customHomeBtn"
    >IR AL MENU PRINCIPAL&nbsp;<i class="icon-home"></i
  ></a>
</div>
