body {
  max-height: 100vh;
  overflow: hidden;
}

.customHomeBtn {
  font-size: 2vw;
  padding: 1rem;
  font-family: "customGothamLight";
}

.customHomeBtn i {
  font-size: 2vw;
  border-radius: 50%;
  padding: 0.5rem;
  border: 0.2rem solid #06a08b;
  color: #00827a;
}
