<div class="bef bef-py-3rem bef-px-7rem bef-bg-gray bef-r-2rem">
<button>X</button>
  <p>1. ¿Qué es el IPlan Comercial</p>
  <p>
    Es una herramienta interactiva, diseñada para que el equipo de AM's puedan
    realizar simulaciones de productos sobre nuestros planes comerciales, con la
    intención de ayudar a los clientes a visualizar opciones y personalizar
    soluciones según sus necesidades.
  </p>
  <p>2. ¿Cómo puedo acceder al simulados desde mi iPad?</p>
  <p>
    A través de la aplicación Veeva, utilizando tus credenciales de usuario
    asignadas por la empresa.
  </p>
  <p>3. ¿Necesito conexión a internet para usar el simulador?</p>
  <p>
    No, sin embargo, algunos links pueden tener funciones limitadas disponibles
    sin conexión. Asegúrate de sincronizar los datos cuando vuelvas a tener
    internet.
  </p>
  <p>4. ¿Qué tipo de simulaciones puedo realizar?</p>
  <p>
    Según el producto o plan comercial, a través de sus módulos podrás realizar
    simulaciones de precios, configuraciones de productos, comparaciones de
    diferentes opciones, escenarios de ahorro o rendimiento, y otros cálculos
    personalizados según el cliente.
  </p>
  <p>
    5. ¿Es el simulador fácil de usar para personas con poca experiencia
    tecnológica?
  </p>
  <p>
    Sí, está diseñado para ser intuitivo y fácil de navegar para ayudar a los
    usuarios a familiarizarse rápidamente con la herramienta.
  </p>
  <p>6. ¿Puedo guardar simulaciones realizadas?</p>
  <p>
    Sí, puedes mantener las simulaciones en la aplicación para revisarlas más
    tarde, pero estas no pueden ser compartidas con los clientes.
  </p>
</div>
